.wrapper1 {
	display: flex;
	justify-content: space-between; 
	flex-direction: row;

}
body{	
	padding: 3cm;
	}

#startrekimages {
	height: 150px;
	width: 150px;
}
#bobafeet{
	height: 150px;
	width: 150px

}
.textbox{
	width: 30%
}